---
title: Icons
---

<dl class="dl-horizontal">
  <dt><span class="tqthicon tqthicon-key"/></dt>
  <dd>modified from the <a href="http://www.entypo.com">Entypo</a> pictogram suite by Daniel Bruce (<a href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a>)</dd>
  <dt><span class="tqthicon tqthicon-tri"/><span class="tqthicon tqthicon-quad"/><span class="tqthicon tqthicon-tet"/><span class="tqthicon tqthicon-hex"/></dt>
  <dd>original, free to use, copy, and modify</dt>
  <dt>all others</dt>
  <dd><a href="http://glyphicons.com">GLYPHICONS Halflings</a> by Jan Kovařík, distributed with <a href="http://getbootstrap.com">Bootstrap by Twitter</a> (<a href="http://getbootstrap.com/getting-started/#license-faqs">license</a>)</dd>
</dl>

