--- 
title: Home
footer: <p class="text-right"><small><a href="/icons/">icons</a></small></p>
---
<div class="row">
  <div class="col-xs-12 col-sm-5 portrait">
    <img src="/images/home.jpg" alt="Tobin Isaac"/>
  </div>
  <div class="col-xs-12 col-sm-7">
    <address>
      <dl class="dl-glyphicon">
        <dd><strong>Tobin Isaac</strong></dd>
        <dt><a href="vita.pdf"><span class="glyphicon glyphicon-file"/></a></dt>
        <dd>Computational Mathematician (<a href="vita.pdf">CV</a>)</dd>
        <dd>Argonne National Laboratory<br>
        Mathematics and Computer Science</dd>
        <dt><a href="tel:+15129142820"><span class="glyphicon glyphicon-phone-alt"/></a></dt>
        <dd>(512) 914-2820</dd>
        <dt><a href="mailto:toby.isaac@gmail.com"><span class="glyphicon glyphicon-send"/></a></dt>
        <dd><a href="mailto:toby.isaac@gmail.com">toby.isaac@gmail.com</a></dd>
        <dt><a href="/tisaac.asc"><span class="tqthicon tqthicon-key"/></a></dt>
        <dd><a href="/tisaac.asc">EEE0 A170 58EF 3822 D96D 8F1A 93F4 EB36 8967 B9E5</a></dt>
      </dl>
    </address>
  </div>
</div>
