--- 
title: Posters
footer: <p class="text-right"><small><a href="/icons/">icons</a></small></p>
---

<h1>2014</h1>

<div class="row">
  <div class="col-xs-12 col-sm-4 slides">
    <a href="/posters/sc14.pdf">
      <img src="/images/sc14.jpg" alt="Scalable, adaptive methods for forward and inverse modeling of 
continental-scale ice sheet flow"/>
    </a>
  </div>
  <div class="col-xs-12 col-sm-8">
    <dl class="dl-glyphicon">
      <dt><a href="/posters/sc14.pdf"><span class="glyphicon glyphicon-file"/></a></dt>
        <dd><strong><a href="/posters/sc14.pdf">Scalable, adaptive methods for forward and inverse modeling of 
continental-scale ice sheet flow</a></strong></dd>
      <dt><a href="http://sc14.supercomputing.org"><span class="glyphicon glyphicon-map-marker"/></a></dt>
        <dd>
          <a href="http://sc14.supercomputing.org">
            The International Conference for High Performance Computing, Networking, Storage and Analysis, 2014
          </a>
        </dd>
    </dl>
  </div>
</div>

