---
title: Publications
footer: <p class="text-right"><small><a href="/icons/">icons</a></small></p>
---
<h2>Unpublished</h2>
<div class="row"><div class="col-xs-12 col-sm-8 col-sm-offset-2">
<dl class="dl-glyphicon-tight">
<dd>Jinwoo Go, Tobin Isaac.</dd>
<dt><a href="http://arxiv.org/abs/2205.09914"><span class="glyphicon glyphicon-file"/></a></dt>
<dd><a href="http://arxiv.org/abs/2205.09914"><strong>Robust Expected Information Gain for Optimal Bayesian Experimental Design Using Ambiguity Sets.</strong></a></dd>
<dd>Proceedings of the Thirty-Eighth Conference on Uncertainty in Artificial Intelligence (Accepted).</dd>
<dd><a href="http://arxiv.org/abs/2205.09914">arxiv:2205.09914.</a></dd>
</dl>
<dl class="dl-glyphicon-tight">
<dd>Grant Bruer, Tobin Isaac.</dd>
<dt><a href="http://arxiv.org/abs/2204.09748"><span class="glyphicon glyphicon-file"/></a></dt>
<dd><a href="http://arxiv.org/abs/2204.09748"><strong>Inferring ice sheet damage models from limited observations using CRIKit: the Constitutive Relation Inference Toolkit.</strong></a></dd>
<dd>SIAM Journal on Scientific Computing (Submitted).</dd>
<dd><a href="http://arxiv.org/abs/2204.09748">arxiv:2204.09748.</a></dd>
</dl>
<dl class="dl-glyphicon-tight">
<dd>Tobin Isaac.</dd>
<dt><a href="http://arxiv.org/abs/2112.02174"><span class="glyphicon glyphicon-file"/></a></dt>
<dd><a href="http://arxiv.org/abs/2112.02174"><strong>Unifying the geometric decompositions of full and trimmed polynomial spaces in finite element exterior calculus.</strong></a></dd>
<dd>Mathematics of Computation (Submitted).</dd>
<dd><a href="http://arxiv.org/abs/2112.02174">arxiv:2112.02174.</a></dd>
</dl>
</div></div>
<h1>2021</h1>
<div class="row"><div class="col-xs-12 col-sm-8 col-sm-offset-2">
<dl class="dl-glyphicon-tight">
<dd>Raphael Egan, Arthur Guittet, Fernando Temprano-Coleto, Tobin Isaac, François J. Peaudecerf, Julien R. Landel, Paolo Luzzatto-Fegiz, Carsten Burstedde, Frederic Gibou.</dd>
<dt><a href="http://dx.doi.org/10.1016/j.jcp.2020.110084"><span class="glyphicon glyphicon-file"/></a></dt>
<dd><a href="http://dx.doi.org/10.1016/j.jcp.2020.110084"><strong>Direct numerical simulation of incompressible flows on parallel Octree grids.</strong></a></dd>
<dd>Journal of Computational Physics (2021).</dd>
<dd><a href="http://dx.doi.org/10.1016/j.jcp.2020.110084">doi:10.1016/j.jcp.2020.110084.</a></dd>
</dl>
<dl class="dl-glyphicon-tight">
<dd>Adam C. Yonge, M. Ross Kunz, Batchu Rakesh, Tobin Isaac, Rebecca Fushimi, Andrew J. Medford.</dd>
<dt><a href="http://dx.doi.org/10.1016/j.cej.2021.129377"><span class="glyphicon glyphicon-file"/></a></dt>
<dd><a href="http://dx.doi.org/10.1016/j.cej.2021.129377"><strong>TAPsolver: A Python package for the simulation and analysis of TAP reactor experiments.</strong></a></dd>
<dd>Chemical Engineering Journal (2021).</dd>
<dd><a href="http://dx.doi.org/10.1016/j.cej.2021.129377">doi:10.1016/j.cej.2021.129377.</a></dd>
</dl>
</div></div>
<h1>2020</h1>
<div class="row"><div class="col-xs-12 col-sm-8 col-sm-offset-2">
<dl class="dl-glyphicon-tight">
<dd>Tobin Isaac, Hansol Suh.</dd>
<dt><a href="http://dx.doi.org/10.1109/SC41405.2020.00027"><span class="glyphicon glyphicon-file"/></a></dt>
<dd><a href="http://dx.doi.org/10.1109/SC41405.2020.00027"><strong>Evaluation of a Minimally Synchronous Algorithm for 2:1 Octree Balance.</strong></a></dd>
<dd>SC20: The International Conference for High Performance Computing, Networking, Storage and Analysis (2020).</dd>
<dd><a href="http://dx.doi.org/10.1109/SC41405.2020.00027">doi:10.1109/SC41405.2020.00027.</a></dd>
</dl>
<dl class="dl-glyphicon-tight">
<dd>Tobin Isaac.</dd>
<dt><a href="http://dx.doi.org/10.1137/20M1321802"><span class="glyphicon glyphicon-file"/></a></dt>
<dd><a href="http://dx.doi.org/10.1137/20M1321802"><strong>Recursive, parameter-free, explicitly defined interpolation nodes for simplices.</strong></a></dd>
<dd>SIAM Journal on Scientific Computing (2020).</dd>
<dd><a href="http://dx.doi.org/10.1137/20M1321802">doi:10.1137/20M1321802.</a></dd>
</dl>
</div></div>
<h1>2018</h1>
<div class="row"><div class="col-xs-12 col-sm-8 col-sm-offset-2">
<dl class="dl-glyphicon-tight">
<dd>Tobin Isaac.</dd>
<dt><a href="http://arxiv.org/abs/1802.02976"><span class="glyphicon glyphicon-file"/></a></dt>
<dd><a href="http://arxiv.org/abs/1802.02976"><strong>A mixed finite element for weakly-symmetric elasticity.</strong></a></dd>
<dd>(2018).</dd>
<dd><a href="http://arxiv.org/abs/1802.02976">arxiv:1802.02976.</a></dd>
</dl>
<dl class="dl-glyphicon-tight">
<dd>Andreas Mueller, Michal Kopera, Simone Marras, Lucas C. Wilcox, Tobin Isaac, Frank Giraldo.</dd>
<dt><a href="http://dx.doi.org/10.1177/1094342018763966"><span class="glyphicon glyphicon-file"/></a></dt>
<dd><a href="http://dx.doi.org/10.1177/1094342018763966"><strong>Strong Scaling for Numerical Weather Prediction at Petascale with the Atmospheric Model NUMA.</strong></a></dd>
<dd>International Journal of High Performance Computing Applications (2018).</dd>
<dd><a href="http://dx.doi.org/10.1177/1094342018763966">doi:10.1177/1094342018763966.</a></dd>
</dl>
<dl class="dl-glyphicon-tight">
<dd>Carsten Burstedde, Johannes Holke, Tobin Isaac.</dd>
<dt><a href="http://dx.doi.org/10.1007/s10208-018-9400-5"><span class="glyphicon glyphicon-file"/></a></dt>
<dd><a href="http://dx.doi.org/10.1007/s10208-018-9400-5"><strong>On the Number of Face-Connected Components of Morton-Type Space-Filling Curves.</strong></a></dd>
<dd>Foundations of Computational Mathematics (2018).</dd>
<dd><a href="http://dx.doi.org/10.1007/s10208-018-9400-5">doi:10.1007/s10208-018-9400-5.</a></dd>
</dl>
</div></div>
<h1>2017</h1>
<div class="row"><div class="col-xs-12 col-sm-8 col-sm-offset-2">
<dl class="dl-glyphicon-tight">
<dd>Mark F. Adams, Eero Hirvijoki, Matthew G. Knepley, Jed Brown, Tobin Isaac, Richard Mills.</dd>
<dt><a href="http://dx.doi.org/10.1137/17M1118828"><span class="glyphicon glyphicon-file"/></a></dt>
<dd><a href="http://dx.doi.org/10.1137/17M1118828"><strong>Landau Collision Integral Solver with Adaptive Mesh Refinement on Emerging Architectures.</strong></a></dd>
<dd>SIAM Journal on Scientific Computing (2017).</dd>
<dd><a href="http://dx.doi.org/10.1137/17M1118828">doi:10.1137/17M1118828.</a></dd>
</dl>
</div></div>
<h1>2016</h1>
<div class="row"><div class="col-xs-12 col-sm-8 col-sm-offset-2">
<dl class="dl-glyphicon-tight">
<dd>Hongyu Zhu, Noémi Petra, Georg Stadler, Tobin Isaac, Thomas J. R. Hughes, Omar Ghattas.</dd>
<dt><a href="http://dx.doi.org/10.5194/tc-10-1477-2016"><span class="glyphicon glyphicon-file"/></a></dt>
<dd><a href="http://dx.doi.org/10.5194/tc-10-1477-2016"><strong>Inversion of geothermal heat flux in a thermomechanically coupled nonlinear Stokes ice sheet model.</strong></a></dd>
<dd>The Cryosphere (2016).</dd>
<dd><a href="http://dx.doi.org/10.5194/tc-10-1477-2016">doi:10.5194/tc-10-1477-2016.</a></dd>
</dl>
</div></div>
<h1>2015</h1>
<div class="row"><div class="col-xs-12 col-sm-8 col-sm-offset-2">
<dl class="dl-glyphicon-tight">
<dd>Tobin Isaac, Matthew G. Knepley.</dd>
<dt><a href="http://arxiv.org/abs/1508.02470"><span class="glyphicon glyphicon-file"/></a></dt>
<dd><a href="http://arxiv.org/abs/1508.02470"><strong>Support for Non-conformal Meshes in PETSc's DMPlex Interface.</strong></a></dd>
<dd>(2015).</dd>
<dd><a href="http://arxiv.org/abs/1508.02470">arxiv:1508.02470.</a></dd>
</dl>
<dl class="dl-glyphicon-tight">
<dd>Johann Rudi, A. Cristiano I. Malossi, Tobin Isaac, Georg Stadler, Michael Gurnis, Peter W. J. Staar, Yves Ineichen, Costas Bekas, Alessandro Curioni, Omar Ghattas.</dd>
<dt><a href="http://dx.doi.org/10.1145/2807591.2807675"><span class="glyphicon glyphicon-file"/></a></dt>
<dd><a href="http://dx.doi.org/10.1145/2807591.2807675"><strong>An Extreme-Scale Implicit Solver for Complex PDEs: Highly Heterogeneous Flow in Earth's Mantle.</strong></a></dd>
<dd>SC15: The International Conference for High Performance Computing, Networking, Storage and Analysis (2015).</dd>
<dd><a href="http://dx.doi.org/10.1145/2807591.2807675">doi:10.1145/2807591.2807675.</a></dd>
</dl>
<dl class="dl-glyphicon-tight">
<dd>Tobin Isaac, Carsten Burstedde, Lucas C. Wilcox, Omar Ghattas.</dd>
<dt><a href="http://dx.doi.org/10.1137/140970963"><span class="glyphicon glyphicon-file"/></a></dt>
<dd><a href="http://dx.doi.org/10.1137/140970963"><strong>Recursive Algorithms for Distributed Forests of Octrees.</strong></a></dd>
<dd>SIAM Journal on Scientific Computing (2015).</dd>
<dd><a href="http://dx.doi.org/10.1137/140970963">doi:10.1137/140970963.</a></dd>
</dl>
<dl class="dl-glyphicon-tight">
<dd>Tobin Isaac, Noémi Petra, Georg Stadler, Omar Ghattas.</dd>
<dt><a href="http://dx.doi.org/10.1016/j.jcp.2015.04.047"><span class="glyphicon glyphicon-file"/></a></dt>
<dd><a href="http://dx.doi.org/10.1016/j.jcp.2015.04.047"><strong>Scalable and Efficient Algorithms for the Propagation of Uncertainty from Data through Inference to Prediction for Large-scale Problems, with Application to Flow of the Antarctic Ice Sheet.</strong></a></dd>
<dd>Journal of Computational Physics (2015).</dd>
<dd><a href="http://dx.doi.org/10.1016/j.jcp.2015.04.047">doi:10.1016/j.jcp.2015.04.047.</a></dd>
</dl>
<dl class="dl-glyphicon-tight">
<dd>Tobin Isaac, Georg Stadler, Omar Ghattas.</dd>
<dt><a href="http://dx.doi.org/10.1137/140974407"><span class="glyphicon glyphicon-file"/></a></dt>
<dd><a href="http://dx.doi.org/10.1137/140974407"><strong>Solution of Nonlinear Stokes Equations Discretized by High-order Finite Elements on Nonconforming and Anisotropic Meshes, with Application to Ice Sheet Dynamics.</strong></a></dd>
<dd>SIAM Journal on Scientific Computing (2015).</dd>
<dd><a href="http://dx.doi.org/10.1137/140974407">doi:10.1137/140974407.</a></dd>
</dl>
<dl class="dl-glyphicon-tight">
<dd>Tobin Isaac.</dd>
<dt><a href="http://catalog.lib.utexas.edu/record=b9055744"><span class="glyphicon glyphicon-file"/></a></dt>
<dd><a href="http://catalog.lib.utexas.edu/record=b9055744"><strong>Scalable, Adaptive Methods for Forward and Inverse Problems in Continental-Scale Ice Sheet Modeling.</strong></a></dd>
<dd>University of Texas at Austin (2015).</dd>
</dl>
</div></div>
<h1>&lt;2015</h1>
<div class="row"><div class="col-xs-12 col-sm-8 col-sm-offset-2">
<dl class="dl-glyphicon-tight">
<dd>Craig Michoski, Dmitry Meyerson, Tobin Isaac, François Waelbroeck.</dd>
<dt><a href="http://dx.doi.org/10.1016/j.jcp.2014.06.058"><span class="glyphicon glyphicon-file"/></a></dt>
<dd><a href="http://dx.doi.org/10.1016/j.jcp.2014.06.058"><strong>Discontinuous Galerkin Methods for Plasma Physics in the Scrape-off Layer of Tokamaks.</strong></a></dd>
<dd>Journal of Computational Physics (2014).</dd>
<dd><a href="http://dx.doi.org/10.1016/j.jcp.2014.06.058">doi:10.1016/j.jcp.2014.06.058.</a></dd>
</dl>
<dl class="dl-glyphicon-tight">
<dd>Tobin Isaac, Carsten Burstedde, Omar Ghattas.</dd>
<dt><a href="http://dx.doi.org/10.1109/IPDPS.2012.47"><span class="glyphicon glyphicon-file"/></a></dt>
<dd><a href="http://dx.doi.org/10.1109/IPDPS.2012.47"><strong>Low-Cost Parallel Algorithms for 2:1 Octree Balance.</strong></a></dd>
<dd>IEEE 2012 International Parallel & Distributed Processing Symposium (IPDPS) (2012).</dd>
<dd><a href="http://dx.doi.org/10.1109/IPDPS.2012.47">doi:10.1109/IPDPS.2012.47.</a></dd>
<dt><p class="text-warning"><span class="glyphicon glyphicon-exclamation-sign"/></p></dt>
<dd>There is an error in Algorithm 7: line 3 reads <span class="text-warning">\(\mathbf{\text{for all}}\ o\in R\ \mathbf{\text{do}}\)</span>; it should read <span class="text-success">\(\mathbf{\text{for all}}\ o\in R\cup R^{\text{new}}\ \mathbf{\text{do}}\)</span>.</dd>
</dl>
<dl class="dl-glyphicon-tight">
<dd>Carsten Burstedde, Omar Ghattas, Michael Gurnis, Tobin Isaac, Georg Stadler, Tim Warburton, Lucas C. Wilcox.</dd>
<dt><a href="http://dx.doi.org/10.1109/SC.2010.25"><span class="glyphicon glyphicon-file"/></a></dt>
<dd><a href="http://dx.doi.org/10.1109/SC.2010.25"><strong>Extreme-Scale AMR.</strong></a></dd>
<dd>SC10: The International Conference for High Performance Computing, Networking, Storage and Analysis (2010).</dd>
<dd><a href="http://dx.doi.org/10.1109/SC.2010.25">doi:10.1109/SC.2010.25.</a></dd>
</dl>
<dl class="dl-glyphicon-tight">
<dd>Samuel F. Feng, Tobin Isaac, Nan Xiao.</dd>
<dt><a href="http://eaton.math.rpi.edu/faculty/Kramer/MCM/2006mcmsolutions.pdf#page=219"><span class="glyphicon glyphicon-file"/></a></dt>
<dd><a href="http://eaton.math.rpi.edu/faculty/Kramer/MCM/2006mcmsolutions.pdf#page=219"><strong>A Simulation-Driven Approach for a Cost-Efficient Airport Wheelchair.</strong></a></dd>
<dd>UMAP Journal (2006).</dd>
</dl>
</div></div>
