.portrait {
  text-align: right;
}
@media screen and (max-width: 767px) {
  .portrait {
    text-align: left;
  }
}
.slides {
  text-align: right;
}
@media screen and (max-width: 767px) {
  .slides {
    text-align: center;
    margin-bottom:15px;
  }
}
.dl-glyphicon dt {
  float: left;
  width: 15px;
  clear: left;
  text-align: right;
  white-space: nowrap;
}
.dl-glyphicon dd {
  margin-left: 20px;
  margin-bottom: 5px;
}
.dl-glyphicon-tight dt {
  float: left;
  width: 15px;
  clear: left;
  text-align: right;
  white-space: nowrap;
}
.dl-glyphicon-tight dd {
  margin-left: 20px;
  margin-bottom: 0px;
}
@font-face {
  font-family: 'triquadtethex';
  src: url('fonts/triquadtethex.eot');
  src: local('☺'), url('fonts/triquadtethex.woff') format('woff'), url('fonts/triquadtethex.ttf') format('truetype'), url('fonts/triquadtethex.svg') format('svg');
}
.tqthicon {
  position: relative;
  /*top: 1px;*/
  display: inline-block;
  font-family: 'triquadtethex';
  font-style: normal;
  font-weight: normal;
  /*line-height: 1;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.tqthicon:empty {
  width: 1em;
}
.tqthicon-tri:before {
  content: "D";
}
.tqthicon-quad:before {
  content: "Q";
}
.tqthicon-tet:before {
  content: "T";
}
.tqthicon-hex:before {
  content: "H";
}
.tqthicon-key:before {
  content: "K";
}
.footer-hr {
  padding:0;
  text-align:center;
  border-top: 1px solid #616530;
}
.footer-hr:after {
  font-family: 'triquadtethex';
  content:"DQTH";
  display:inline-block;
  position:relative;
  color: #616530;
  background-color: #3e3e23;
  top:-0.7em;
  padding:0 0.25em;
}
footer {
  margin-top:15px;
  margin-left: 15px;
  margin-right: 15px;
}
