<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Tobin Isaac">
    <meta name="generator" content="nanoc <%= Nanoc::VERSION %>">

    <title>Tobin Isaac<%= ishome ? '' : ' - ' + @item[:title] %></title>

    <!-- MathJax -->
    <script type="text/javascript"
      src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <!-- Static navbar -->
    <div class="navbar navbar-default" role="navigation">
      <div class="container fill-wrapper">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" <%= ishome ? '' : 'href="/"' %>>Tobin Isaac</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <%= li_to_unless_current('Home','/') %>
            <%= li_to_unless_current('Publications','/publications/') %>
            <%= li_to_unless_current('Slides','/slides/') %>
            <%= li_to_unless_current('Posters','/posters/') %>
            <!-- <%= li_to_unless_current('Research','/research/') %> -->
            <!-- <%= li_to_unless_current('Family','/family/') %> -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div> <!-- /navbar -->

    <div class="container">
      <%= yield %>
    </div>

    <footer>
      <hr class="lead text-primary footer-hr">
      <%= @item[:footer] %>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
